<nav class="sidebar">
  <div class="logo d-flex justify-content-between">
    <a href="index-2.html">
      <img src="assets/img/logo.png" alt>
    </a>
    <div class="sidebar_close_icon d-lg-none">
      <i class="ti-close"></i>
    </div>
  </div>
  <ul id="sidebar_menu">
    <li class="side_menu_title">
      <span>Dashboard</span>
    </li>
    <li class="mm-active">
      <a class="has-arrow" href="#" aria-expanded="false">

        <img src="assets/img/menu-icon/1.svg" alt>
        <span>Dashboard</span>
      </a>

    </li>
    <li class="side_menu_title">
      <span>Applications</span>
    </li>
    <li class>
      <a class="has-arrow" [routerLink]="['/etudiant']" aria-expanded="false">
        <img src="assets/img/menu-icon/2.svg" alt>
        <span>Etudiant</span>
      </a>
    </li>
    <li class>
      <a class="has-arrow" [routerLink]="['/filiere']" aria-expanded="false">
        <img src="assets/img/menu-icon/2.svg" alt>
        <span>Filiere</span>
      </a>
    </li>
    <li class>
      <a class="has-arrow" [routerLink]="['/anneeScolaire']" aria-expanded="false">
        <img src="assets/img/menu-icon/2.svg" alt>
        <span>Annee Universitaire</span>
      </a>
    </li>
    <li class>
      <a class="has-arrow" [routerLink]="['/inscription']"aria-expanded="false">
        <img src="assets/img/menu-icon/2.svg" alt>
        <span>Inscription</span>
      </a>
    </li>

