<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="container">Gestion des etudiants</div>

    </a>
  </div>
</nav>
<p></p>
<div class="container px-4 px-lg-5 mt-5">

  <div *ngIf="!afficherFormulaire">

    <button type="button" (click)="fonctionModifierVariable()" class="btn btn-warning"
      (blur)="formulaireAnneeScolaire; ">
      <!-- <button type="button" (click)="fonctionModifierVariable()" class="btn btn-warning"  (blur)="formulaireAjoutEtudiant; "> -->
      Ajouter
    </button>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let annee of newListeUniversitaire; let i= index">
          <th scope="row">{{ i +1}}</th>
          <td>{{ annee.code}}</td>



          <td>

          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div *ngIf="afficherFormulaire">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <button (click)="fonctionModifierVariable()" type="button" id="add" class="btn btn-outline-primary mb-5">
          + Liste
        </button>
      </div>
    </div>

    <form class="row g-3 needs-validation" [formGroup]="formulaireAnneeScolaire" (ngSubmit)="sauvegardeAnne()">
      <div class="row">
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">
              Code
          </label>
          <input type="text" formControlName="code" [(ngModel)]="anneeUniversitaire.code" class="form-control" id="validationCustom01" required>
          <!-- <input type="text" formControlName="nom"  class="form-control" id="validationCustom01" required> -->
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>




      <div class="col-12">
        <button class="btn btn-primary" type="submit">
          Submit form
        </button>
      </div>
    </form>

  </div>
</div>
